body{
    background-color: lightblue;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
.main-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}